<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<property scope="context" name="COLORIZER_COLORS" value="boldred@white,yellow@black,green@,blue@,cyan@" />
<conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer" />
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	<encoder>
	  <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSS} %colorize([%-5level] [%thread] [%msg]) [%file:%line]%n</pattern>
	</encoder>
</appender>
<root level="info">
 <appender-ref ref="STDOUT"></appender-ref>
</root>
</configuration>